html, body {
    background-color: #eeeeee;
    padding: 0;
    margin: 0;
}

/*POLICE*/
@font-face { 
    font-family: Creato;
    src: url(../asset/police/CreatoDisplay-Thin.otf);
}

@font-face { 
    font-family: Neatly;
    src: url(../asset/police/KGNeatlyPrintedSpaced.ttf);
}

@font-face { 
    font-family: Nightblows;
    src: url(../asset/police/Nightblows.otf);
}

/*HEADER*/
/*MENU BURGER*/
ul {
    display: none;
    flex-direction: column;
    padding-top: 0;
    margin-left: 0;
    text-align: center;
    position: absolute;
    width: 160%;
    top: 40px;
    left: -70px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.burger {
    position: relative;
    display: block;
    float: right;
}   

li {
    padding: 5px;
    list-style: none;
}

.burger > ul > li > a {
    font-size: 16px;
    margin-left: -50px;
    float: right;
    text-decoration: none;
    font-family: jetbrains;
    color: #ff8239;
    transition: color .5s;
}

.burger > ul > li > a:hover {
    color: #e66114;
    /* font-weight: bold; */
}

.hamburger {
    display: block;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    color: #ff8239;
}

.show-menu {
    display: flex;
}

/*ICONE PROFIL*/
.iconeProfil {
    width: 2.8%;
    height: 2.8%;
    float: right;
    margin-top: -9.9%;
    margin-right: 4%;
}

/*ICONE LOUPE*/
.container {
    width: 10%;
    height: 10%;
    float: right;
    margin-top: -10.7%;
    margin-right: 2.3%;
    cursor: pointer;
    color: #ff8239;
    position: relative;
}

.logo {
    width: 8%;
    height: auto;
    margin: 20px;
}
/*FIN DU HEADER*/

/*SECTION 1*/
.about > .titre {
    width: 30%;
    height: 200px;
    margin-left: 6%;
    padding-top: 3%;
}

h1 {
    font-size: 400%;
    font-family: Nightblows;
    letter-spacing: 2px;
    font-weight: 300; 
    color: #b8f05f;
    margin-left: 40px;
}

h1 b {
    font-weight: normal;
    text-decoration: none;
    color: #7ad6bc;
}

.about > .texte > p {
    width: 34%;
    font-family: Creato;
    color: #000000;
    letter-spacing: 2px;
    text-align: justify;
    margin-left: 8.8%;
}

.about {
    margin-top: -5%;
}

/*SECTION 2*/
.une {
    width: 20%;
    float: right;
    margin-top: -19%;
    margin-right: 24.4%;
}

.une > img {
    border-radius: 10px;
    width: 75%;
}

.deux {
    width: 17.6%;
    float: right;
    margin-top: -19%;
    margin-right: 11%;
}

.deux > img {
    border-radius: 10px;
    width: 75%;
}

.trois {
    width: 57%;
    float: right;
    margin-top: -8.7%;
    margin-right: 15.4%;
}

.trois > img {
    border-radius: 10px;
    width: 51%;
    float: right;
}

.illustration {
    margin-top: -3%;
}

/* Styles pour la barre de recherche */
.search-form {
    position: relative;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    padding: 0;
    margin: 0 0.5rem;
    transition: width 0.5s;
}

.search-input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    font-size: small;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s;
}

.search-button {
    width: 5.5rem;
    height: 5.5rem;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: all 0.5s;
}

.search-icon,
.search-close {
    position: absolute;
    font-size: 2rem;
    color: #ff8239;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-close {
    opacity: 0;
}

/* Active Search */
.active-search {
    max-width: 100%;
    width: 25rem;
}

.active-search .search-button {
    left: calc(100% - 2rem);
}

.active-search .search-input {
    pointer-events: initial;
    opacity: 1;
}

.active-search .search-close {
    opacity: 1;
}

.active-search .search-icon {
    opacity: 0;
}

/*Section Organisation*/
.organisations {
    margin-top: 8%;
}

.organisations .titre {
    
}