/*POLICE*/
@font-face { 
    font-family: Creato;
    src: url(../asset/police/CreatoDisplay-Thin.otf);
}

@font-face { 
    font-family: Neatly;
    src: url(../asset/police/KGNeatlyPrintedSpaced.ttf);
}

@font-face { 
    font-family: Nightblows;
    src: url(../asset/police/Nightblows.otf);
}

body {
    font-family: Arial, sans-serif;
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Align items at the center vertically */
    flex-direction: column; /* Arrange items in a column */
    min-height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.formIns {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 20px; /* Ajout d'une marge supérieure pour descendre le formulaire */
}

form {
    display: flex;
    flex-direction: column;
}

.nom, .prenom, .tel, .mail, .id, .mdp, .sexe, .centre, .ville, .adresse, .postal, .dispo, .handicap, .descriptionHandi {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    color: #ff8239;
    font-family: Creato;
    letter-spacing: 1px;
}

.centre p {
    float: left;
    font-size: 14.5px;
    margin: 0;
    padding: 0;
}

.centre1 p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

h1 {
    font-size: 400%;
    font-family: Nightblows;
    letter-spacing: 2px;
    font-weight: 300; 
    color: #ff8239;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box; /* Assurez-vous que les champs remplissent la largeur */
}

select[multiple] {
    height: auto;
}

button.btn, a.btn {
    padding: 10px;
    background-color: #ff8239;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    display: block;
    margin-top: 10px;
}

button.btn:hover, a.btn:hover {
    background-color: #ff8239;
}

p {
    text-align: center;
    margin-top: 20px;
}

p a {
    color: #ff8239;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

